@charset "UTF-8";
/* Dette her er skabelonen, som Anne har provided og redigeret i */ 
.wrapper {
         max-width: 1024px;
         margin: 0 auto;
         font: 1.2em Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
		 color: white;
}
.wrapper > * {
	         border-radius: 5px;
	         padding: 10px;
}
.main-head {
  grid-area: header;
  
}
.content {
 grid-area: content;
	margin-top: 210%;
	margin-bottom: 50%;
}
.main-nav {
 grid-area: nav;
}
.main-footer {
	grid-area: footer;
	text-align: justify;
 
}
/* mobile first */
.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 
     "header"
     "nav"
     "content"
	  "content"
	  "content"
	  "content"
     "footer";
}
/* Her påbegyndes Annes del af arbejdet, som hun har brugt til forsiden. Der er også her der ligger style til navbar*/
.aqua{
	margin-top: 10%;
	margin-left: 30%;
	padding-top: 50px;
	padding-left: 0px;
	padding-bottom: 20px;
	padding-right: 0px;
	}

.p{
	margin-left: 5%;
}

nav ul {
  flex-direction: column;
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li{
	float: center;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
	text-decoration: none;
}
li a:hover {
  background-color: #9AAEC8;
}
  
body{
	background-image: url("baggrundden30.png");
}
.h1{
	margin-top: 10%;
	margin-left: 30%;
}
/* Her slutter Annes del og forsiden+grundskabelonen */

/*Christoffer start */
.flasken{
	margin-top: 10%;
	margin-left: 25%;
	padding-top: 650px;
	padding-left: 50px
}
.p1{
	margin-left: 5%;
	padding-top: 150px;
	padding-bottom: 250px;
	line-height: 1.4;
}
.second-nav:hover {
  flex-direction: column;
	list-style-type: none;
  margin: 0;
  overflow: hidden;
	float: center;
  display: block;
  color: white;
  text-align: center;
	text-decoration: none;
  background-color: #9AAEC8;
}
/* Christoffer slut */

/* Fink start */
.omos{
	margin-top: 10%;
	margin-left: 27%;
	padding-top: 50px;
	padding-left: 50px;
	padding-bottom: 20px;
}
.p2{
	margin-left: 5%;
	padding-top: 50px;
	padding-bottom: 300px;
	line-height: 1.4;
}
.third-nav:hover {
  flex-direction: column;
	list-style-type: none;
  margin: 0;
  padding-top: 0px;
  overflow: hidden;
	float: center;
  display: block;
  color: white;
  text-align: center;
	text-decoration: none;
  background-color: #9AAEC8;
}
/* Fink slut */

/* David start */
.findflasken{
	margin-top: 10%;
	margin-left: 20%;
	padding-top: 50px;
	padding-left: 50px;
	padding-bottom: 20px;

}
.p3{
	margin-left: 5%;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 1.4;
	
}
.fourth-nav:hover {
  flex-direction: column;
	list-style-type: none;
  margin: 0;
  padding-top: 0px;
  overflow: hidden;
	float: center;
  display: block;
  color: white;
  text-align: center;
	text-decoration: none;
  background-color: #9AAEC8;
}
/* David slut */